@tailwind base;
@tailwind components;
@tailwind utilities;

//@import '@fortawesome/fontawesome-free/css/fontawesome.css';
//@import '@fortawesome/fontawesome-free/css/regular.css';
//@import '@fortawesome/fontawesome-free/css/solid.css';
//@import '@fortawesome/fontawesome-free/css/brands.css';

@import "hero-slider";
@import 'swiper/css/bundle';
@import "swiper-js-custom-style";

// for smooth transition effect in theme switch
body * {
    @apply transition-colors duration-200;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

a {
    text-decoration: none;
}

/*
    Scrollbar customization
*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(136, 136, 136, 0.36);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(72, 72, 72, 0.55);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
    Scrollbar customization
*/

.header-info .content {
    margin-left: 30px;
    padding-left: 30px;
    position: relative;
}

.header-info .content:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #ffffffad;
}

//.header-info .content a:after {
//    display: block;
//    content: '';
//    width: inherit;
//    border-bottom: solid 1px white;
//    transform: scaleX(0);
//    transition: transform 250ms ease-in-out;
//}
//
//.header-info .content a:hover:after {
//    transform: scaleX(1);
//    transform-origin: left;
//}

.border-bottom-on-hover:after {
    display: block;
    content: '';
    width: inherit;
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.border-bottom-on-hover:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.border-bottom-on-hover-dark:after {
    display: block;
    content: '';
    width: inherit;
    border-bottom: solid 1px theme('colors.gray.400');
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.border-bottom-on-hover-dark {
    @apply dark:text-white #{!important};
}

.border-bottom-on-hover-dark:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.border-bottom-from-left {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-black after:dark:bg-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:ease-in-out after:duration-200 after:origin-left
}

.scrolled {
    @apply drop-shadow-xl;
}

//a:hover {
//    @apply dark:hover:text-gray-100 hover:text-black
//}

//dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-700
//dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-700 dark:bg-clip-text dark:text-transparent

